.footer {
  background-color: #222;
  padding: 80px 0 40px;
  position: relative;
}
.footer__msg__icon {
  position: absolute;
  right: 40px;
  bottom: 40px;
}
.footer__wrapper {
  display: grid;
  grid-template-columns: 543px 1fr 1fr 1fr;
  gap: 110px;
}

.footer__content {
  display: flex;
  align-items: center;
  gap: 100px;
  position: relative;
}
.footer__content hr {
  border: 1px solid #b7b7b7;
  width: 380px;
  height: 0px;
  transform: rotate(-90deg);
  position: absolute;
  right: -160px;
}
.footer_cont {
  padding-right: 132px;
}
.footer__content h2 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 16px;
}
.footer__content p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #b7b7b7;
  margin-bottom: 24px;
}

.footer__content button {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #fff;
  background-color: transparent;
  border: 1px solid #b7b7b7;
  border-radius: 61px;
  width: 411px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 17px 24px;
  margin-bottom: 24px;
}
.footer__copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__copyright p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #fff;
  margin-top: 80px;
  cursor: pointer;
}
/* .footer__ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
} */

.footer__wrapper ul h5 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 16px;
}

.footer__wrapper ul li {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 14px;
  line-height: 160%;
  color: #b7b7b7;
  margin-bottom: 8px;
}
.footer__copyright2 {
  display: none;
}
@media (max-width: 1300px) {
  .footer__wrapper {
    gap: 50px;
  }
  .footer_cont {
    padding-right: 100px;
  }
}
@media (max-width: 1100px) {
  .footer__wrapper {
    gap: 20px;
    grid-template-columns: 443px 1fr 1fr 1fr;
  }
  .footer_cont {
    padding-right: 80px;
  }
  .footer__content button {
    width: 311px;
  }
}

@media (max-width: 900px) {
  .footer__wrapper {
    display: flex;
    flex-direction: column;
  }
  .footer__content {
    display: block;
    margin-bottom: 70px;
  }
  .footer__content hr {
    transform: rotate(0);
    bottom: -45px;
    left: 20px;
    width: 95%;
  }
  .footer__wrapper ul {
    margin: 0 auto;
  }
  .footer__wrapper ul h5 {
    text-align: center;
  }
  .footer__wrapper ul li {
    text-align: center;
  }
  .footer_cont {
    padding-right: 0;
  }
  .footer_cont h2 {
    text-align: center;
  }
  .footer_cont p {
    text-align: center;
  }
  .footer_cont button {
    margin: 0 auto 30px;
  }
  .footer_cont img {
    display: block;
    /* margin: 0 auto; */
  }
  .footer__social img {
    margin: 0 auto;
  }
  .footer__copyright2 {
    display: block;
  }
  .footer__copyright2 p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #fff;
    margin-top: 10px;
    cursor: pointer;
  }

  .footer__copyright1 {
    display: none;
  }
}
