.hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 656px 20px 80px;
}

.hero__wrapper h5 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 16px;
}
.hero__wrapper h2 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 80px;
  line-height: 90%;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 48px;
}

.hero__wrapper button {
  border-radius: 28px;
  width: 191px;
  height: 55px;
  background: #7373d7;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 17px;
  line-height: 160%;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  margin: 0 auto;
  display: block;
  border: none;
  cursor: pointer;
}
.hero__wrapper button:hover {
  transform: scale(1.05);
  transition: 300ms;
}

.hero__wrapper button:active {
  transform: scale(0.99);
  transition: 100ms;
}
.hero__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.hero.reverse .hero__wrapper {
  flex-direction: column-reverse;
}
@media (max-width: 760px) {
  .hero {
    padding: 540px 20px 40px;
  }
  .hero__wrapper h2 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
  }
}
@media (max-width: 460px) {
  .hero__wrapper h2 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 38px;
    line-height: 120%;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
  }
}
