.mycard {
  padding-top: 150px;
  margin-bottom: 80px;
}
.cardWrapper h2 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 40px;
  line-height: 140%;
  text-transform: uppercase;
  text-align: center;
  color: #222;
  margin-bottom: 16px;
}
.cardWrapper img {
  max-width: 409px;
  width: 100%;
}

.top__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}

.toph4 {
  width: 50%;
}
.toph5 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}
.shipping {
  display: block;
  margin: 0 auto;
}
.top__wrapper h4 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #222;
  margin-bottom: 8px;
}

.card1 {
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 19px;
}
.card1__left {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 50%;
}
.card1__left img {
  background: #7373d7;
  padding: 11px;
  width: 85px;
  height: 91px;
}
.card1__content h3 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #222;
  margin-bottom: 8px;
}

.card1__content p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #222;
  margin-bottom: 8px;
}
.card1__content h5 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #7373d7;
}
.card1__right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}
.card__bottom {
  margin-top: 21px;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.card__bottm {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #222;
  margin-bottom: 8px;
}
.cardInput {
  width: 50%;
}
.checkout {
  width: 50%;
}
.checkout img {
  width: 16px;
}
.checkout1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.checkout2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.checkout3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.checkout3 h4 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  text-transform: uppercase;
  color: #222;
  margin-top: 8px;
}
.checkout h6 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: #222;
}
.checkout p {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 14px;
  line-height: 160%;
  color: #222;
  margin-bottom: 16px;
}

.checkout2 span {
  display: flex;
  align-items: center;
  gap: 4px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: #7373d7;
}

textarea {
  border: 1px solid #222;
  width: 350px;
  height: 185px;
  opacity: 0.3;
}
@media (max-width: 900px) {
  .card1 {
    margin-top: 30px;
    align-items: start;
  }
  .top__wrapper {
    display: none;
  }
  .card1__right {
    display: flex;
    flex-direction: column;
  }

  .addToCard {
    padding: 5px 15px;
  }

  .addToCard button {
    padding: 10px 20px;
  }
  .card1__left {
    display: flex;
    align-items: start;
  }
  hr {
    display: none;
  }
  .card__bottom {
    display: flex;
    flex-direction: column;
  }
  .cardInput,
  .checkout {
    margin: 0 auto;
  }
}
